body{
    font-family: 'Roboto', sans-serif !important;
    background-color: #E5E5E5;
    z-index: 0;
}
.topbar{
    width: 100%;
    height: 92px;
    padding-left: 21px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1px;
    position: fixed;
    top: 0;
}
.logo{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
.slogan{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top:92px;
    margin-bottom: 102px;
}

.topico{
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    margin-left: 19px;
    color: #333333;
    margin-top: 25px;
}
.rolinho{
    width: 100%;
    height: 216px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    margin-top: 10px;
}
.opcao{
    width: 172px;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 9px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}
.opcao img{
    width: 144px;
}
.nome-opcao{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;    
    line-height: 19px;
    margin-top: 8px;
    color: #333333;
}
.descricao{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-top: 8px;
    color: #A6A6A6;
}
.preco{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-top: 8px;
}
.bottom-bar{
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    z-index: 1;
    position: fixed;
    bottom: 0;
}
button{
    width: 364px;
    height: 61px;
    left: 25px;
    bottom: 16px;
    background: #CBCBCB;
    border-radius: 50px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.018em;
    color: #FFFFFF;
}
